:host {
    width: 100%;
    display: flex;

    .v-form {
        flex-direction: row;
    }

    .form-card {
        width: 100%;
        max-width: unset;
    }

    ::ng-deep {
        .p-card-body {
            width: 100%;
            border: 2px solid var(--purble-3);
            border-radius: 10px;
        }

        .add-button {
            height: 52px;
            width: 120px;
        }
    }
}