# Use postgres/example user/password credentials

services:
  db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"  # Expose PostgreSQL port
    environment:
      POSTGRES_USER: todo-app-user
      POSTGRES_PASSWORD: temp-dev-password
      POSTGRES_DB: hibernate_db