<p-card class="form-card">
    <ng-template #header>
    </ng-template>
    <ng-template #title> Login</ng-template>
    <ng-template #subtitle> Provide your account credentials.</ng-template>

    <form aria-label="Login Form" [formGroup]="loginForm" (ngSubmit)="onLogin()" class="v-form">
        <div class="field">
            <p-floatlabel variant="in">
                <input aria-label="Login" class="full-width" pInputText id="user-login" formControlName="login" autocomplete="off" />
                <label for="user-login">Login</label>
            </p-floatlabel>
            @if (isInvalid('login')) {
            <p-message styleClass="form-error" severity="error" size="small" variant="simple">Login is
                required.</p-message>
            }
        </div>

        <div class="field">
            <p-floatlabel variant="in">
                <input aria-label="Password" class="full-width" pInputText id="user-password" type="password" formControlName="password"
                    autocomplete="off" />
                <label for="user-password">Password</label>
            </p-floatlabel>
            @if (isInvalid('password')) {
            <p-message styleClass="form-error" severity="error" size="small" variant="simple">Password is
                required.</p-message>
            }
        </div>

        <p-button pButton type="submit" label="Login" styleClass="full-width" [disabled]="loginForm.invalid"></p-button>
    </form>

    <ng-template #footer>
        <div class="card-footer">
            <span>Don't have an account? <a aria-label="Create new Account" routerLink="/login/create-account">Create one</a></span>
        </div>
    </ng-template>
</p-card>