:host {
    flex: 1;
}

.app-wrapper {
    height: 100%;
    gap: 10px;
    flex-direction: column;


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    --p-datatable-header-cell-background: var(--purble-1);
    --p-datatable-row-background: var(--purble-2);
    ::ng-deep table {
        border: 2px solid var(--purble-3);
        border-radius: 10px;
        overflow: hidden;

        tr,
        td,
        th {
            border-color: var(--purble-1);
        }

        .todo-closed {
            text-decoration: line-through;
        }

        .empty-message {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 600px) {
            .p-button .p-button-label {
                display: none;
            }
        }
    }

}