:host {
    --theme-color: var(--p-yellow-400);
    --purble-3: #660169;
    --purble-2: #430046;
    --purble-1: #350136;
}

#page-root {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-15deg, var(--purble-3), #000000);
    font-family: Arial, Helvetica, sans-serif;
}