@import url('https://fonts.googleapis.com/css2?family=Honk&family=Orbitron:wght@400..900&display=swap');

#page-root {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    color: #fff;
    background: linear-gradient(205deg, #660169, #000000);
    font-family: Arial, Helvetica, sans-serif;
}