@import url('https://fonts.googleapis.com/css2?family=Honk&family=Orbitron:wght@400..900&display=swap');
@import "primeicons/primeicons.css";

html,
body {
    margin: 0;
}

:root {
    --theme-color: var(--p-yellow-400);
    --purble-3: #660169;
    --purble-2: #430046;
    --purble-1: #350136;
}

#page-root, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(-15deg, var(--purble-3), #000000);
    font-family: Arial, Helvetica, sans-serif;
}

.orbitron-500 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.honk-600 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

.form-card {
    background-color: var(--purble-1);
    width: 40vw;
    min-width: 350px;
    max-width: 500px;

    @media screen and (max-width: 600px) {
        min-width: 200px;
        width: 90vw;
    }

    .form-error {
        margin-top: 5px;
    }

    .card-footer {
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;

        a {
            color: var(--theme-color);
            cursor: pointer;
        }
    }
}

.app-wrapper {
    flex: 1;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width: 600px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 400px) {
        padding: 0 10px;
    }
}

.full-width {
    width: 100%;
}

.v-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}