@import url('https://fonts.googleapis.com/css2?family=Honk&family=Orbitron:wght@400..900&display=swap');
@import "primeicons/primeicons.css";


html, body {
    margin: 0;
}

.orbitron-500 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.honk-600 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}