:host {
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    // padding: 10px;
    box-sizing: border-box;
    // background-color: rgba(128, 0, 128, 0.205);
    // border: var(--theme-color) 2px solid;
    // box-shadow: 4px 4px 0px rgb(0, 0, 0);
    border-radius: 8px;

    .logo {
        display: flex;
        flex: 1;
        gap: 20px;

        .img {
            height: 80px;
            width: 80px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/assets/Peileppe_Konrad_Chibi.png");
            filter: drop-shadow(-4px 5px 0px rgb(0, 0, 0));
        }

        p {
            font-size: 30px;
            width: 100px;
            margin: 0;
        }
    }

    p-menubar {
        display: flex;
        flex: 1;
        justify-content: space-between;
        background: transparent;
        border: none;
        padding: 20px 0;
        font-size: 18px;

        &::ng-deep .p-menubar-start {
            flex: 1;
        }

        &::ng-deep .p-menubar-item-icon {
            color: var(--theme-color);
        }
    }

    .user-card {
        display: flex;
        align-items: center;
        justify-items: center;
        padding-right: 8px;
        border: 2px solid var(--purble-3);
        background-color: var(--purble-1);
        border-radius: 10px;

        :hover {
            cursor: pointer;
        }

        ::ng-deep button:hover {
            background-color: unset;
        }
    }

}